# Force fast low-memory LZ4 decompressor (Mandatory for RV1106 zImage)
CONFIG_KERNEL_LZ4=y
# CONFIG_KERNEL_XZ is not set
# CONFIG_KERNEL_GZIP is not set
# CONFIG_KERNEL_LZO is not set

# Sony IMX290 / IMX462 Camera & IR-Cut
CONFIG_VIDEO_IMX290=m
CONFIG_VIDEO_RK_IRCUT=m

# 6 UARTs & SPIdev for ArduPilot
CONFIG_SERIAL_8250_NR_UARTS=6
CONFIG_SERIAL_8250_RUNTIME_UARTS=6
CONFIG_SPI_SPIDEV=y

# USB Gadget ConfigFS (CDC ACM Serial & NCM Ethernet)
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_UEVENT=y
CONFIG_USB_CONFIGFS_SERIAL=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_NCM=y

# USB Dual-Role & Host Support
CONFIG_USB_DWC3_DUAL_ROLE=y
CONFIG_USB=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_GENERIC=y

# Fast GPIO & Real-Time Low Latency
CONFIG_GPIO_CDEV=y
CONFIG_GPIO_SYSFS=y
CONFIG_PREEMPT=y
CONFIG_HZ_1000=y

# NPU
CONFIG_ROCKCHIP_RKNPU=y

# Timers & Power
CONFIG_HIGH_RES_TIMERS=y
CONFIG_NO_HZ_IDLE=y
CONFIG_CPU_FREQ_DEFAULT_GOV_PERFORMANCE=y

# Command-line partition parser for blkdevparts
CONFIG_CMDLINE_PARTITION=y
CONFIG_BLK_DEV_INITRD=y

# RV1106 SoC Text Offset & Architecture (Forces TEXT_OFFSET = 0x00208000)
CONFIG_CPU_RV1106=y
CONFIG_ARCH_ROCKCHIP=y
CONFIG_THUMB2_KERNEL=y
CONFIG_VMSPLIT_3G_OPT=y
CONFIG_FORCE_MAX_ZONEORDER=9
CONFIG_UACCESS_WITH_MEMCPY=y

# Core Rockchip RV1106 Hardware Foundation
CONFIG_ROCKCHIP_GRF=y
CONFIG_ROCKCHIP_PM_DOMAINS=y
CONFIG_ROCKCHIP_IODOMAIN=y
CONFIG_ROCKCHIP_IOMUX=y
CONFIG_ROCKCHIP_PVTM=y
CONFIG_ROCKCHIP_SYSTEM_MONITOR=y
CONFIG_ROCKCHIP_CPUINFO=y
CONFIG_SERIAL_8250_CONSOLE=y
